@import url('https://fonts.googleapis.com/css2?family=Oleo+Script+Swash+Caps&display=swap');
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	background: #fff;
}

.main{
	width: 100%;
	height: auto;
	font-family: 'Oleo Script Swash Caps', cursive;
	padding: 50px 0;
	display: grid;
	place-items: center;
}
.main .heading{
  font-family: 'Oleo Script Swash Caps', cursive;
	font-size: 50px;
	font-weight: 500;
	color: rgb(106, 6, 236);
	position: relative;
	margin-bottom: 100px;
}
.heading::after{
	position: absolute;
	content: ' ';
	width: 100%;
	height: 4px;
	left: 0;
	bottom: -5px;
	background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
}
 canvas{
	 width: 100%;
 }
/* Container CSS Start  */

.container{
	width: 70%;
	height: auto;
	position: relative;
}
.container ul{
	list-style: none;
}
.container ul::after{
	position: absolute;
	content: ' ';
	width: 2px;
	height: 100%;
	background-image: linear-gradient(to bottom, rgb(106, 6, 236), rgb(220, 0, 240));
	left: 50%;
	top: 0;
	transform: translateX(-50%);
	z-index: 0;
}
.container ul li{
	width: 50%;
	height: auto;
	padding: 15px 20px;
	background-color: rgba(255, 255, 255, 0.4);
	box-shadow: 1px 2px 12px rgba(0, 0, 0, 1);
	border-radius: 10px;
	margin-bottom: 30px;
	z-index: 99;
	position: relative;
	backdrop-filter: blur(2px);
}
.container ul li:nth-child(odd){
	float: left;
	clear: right;
  right: 30px;
	text-align: justify;
}
.container ul li:nth-child(even){
	float: right;
	clear: left;
	left: 30px;
}
.container ul li:nth-child(4){
	margin-bottom: 0;
}
.container ul li .title{
	font-size: 20px;
	font-weight: 500;
	color: rgb(106, 6, 236);
}
ul li p{
  font-family: comfortaa;
	font-size: 15px;
	color: #444;
	margin: 7px 0;
	line-height: 23px;
}
ul li a{
	font-size: 15px;
	color: rgb(106, 6, 236);
	text-decoration: none;
}
ul li .date{
	position: absolute;
	top: -48px;
	width: 135px;
	height: 35px;
	border-radius: 20px;
	color: #fff;
  background-image: radial-gradient(146.76% 146.76% at -56.76% -42.31%, #FFFFFF 0%, #C7AFFD 15.46%, #A780FF 71.7%, #6A28FD 100%);
	//background-image: linear-gradient(to right, rgb(106, 6, 236), rgb(220, 0, 240));
	display: grid;
	place-items: center;
  grid-template-columns: 2fr 1fr;
	font-size: 14px;
	box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.418);
}
img{
  border-radius: 10%;
  width: 100%;
  object-fit: contain;
}
.container ul li:nth-child(odd) .date{
	right: 20px;
}

.container ul li .circle{
	width: 30px;
	height: 30px;
	background-color: rgba(220, 0, 240, 0);
	border-radius: 50%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	color:rgba(106, 6, 236,1);
	top: 0;
	z-index: 99;
}
.container ul li .circle::before{
	content: ' ';
	width: 30px;
	height: 30px;
	background-color: rgba(220, 0, 240, 0.3);
	border-radius: 50%;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: -1;
	transform: translate(-50%, -50%);
}
.container ul li:nth-child(odd) .circle{
	right: -30px;
	transform: translate(50%, -50%);
}
.container ul li:nth-child(even) .circle{
	left: -30px;
	transform: translate(-50%, -50%);
}

/*  ----  Media Query Started  ----  */

@media screen and (max-width:1224px) {
	.container{
		width: 85%;
	}
}

@media screen and (max-width:933px) {
	.container{
		width: 80%;
		transform: translateX(15px);
	}
	.container ul::after{
		left: -30px;
	}
	.container ul li{
		width: 100%;
		float: none;
		clear: none;
		margin-bottom: 90px;
	}
	.container ul li:nth-child(odd){
    left: 0px;
		text-align: left;
	}
  .container ul li:nth-child(even){
    left: 0px;
		text-align: left;
	}
	.container ul li:nth-child(odd) .date{
		left: 20px;
	}
	.container ul li:nth-child(odd) .circle{
		left: -30px;
		transform: translate(-50%, -50%);
	}
}






















